body {

    background-color: green;
    width: 500px;
}

h1 {
    color: bisque;
    font-size: 85px;

}

h3 {
    color: bisque;
    font-size: 85px;

}

h2 {
    color: bisque;
    font-size: 85px;

}